tsloader/tsloader_flow
[{"id":"63feadb3.9932d4","type":"csv","z":"6747017a.381de","name":"CSV to JSON","sep":" ","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"tps , rtps , wtps , bread/s , bwrtn/s","x":257,"y":236.5,"wires":[["280389da.38fc46"]]},{"id":"fe447203.873e8","type":"daemon","z":"6747017a.381de","command":"/home/pi/src/tsdemo/tsloader/sar_daemon.sh","args":"-f io -s 2","cr":false,"redo":false,"op":"string","name":"I/O Daemon","x":95.5,"y":181,"wires":[["63feadb3.9932d4"],[],[]]},{"id":"b6d781cd.09a2d","type":"OS","z":"6747017a.381de","name":"OS Data","x":275.5,"y":805.5,"wires":[["fa8cc2ba.e3221"]]},{"id":"daba5ec7.41e8c","type":"inject","z":"6747017a.381de","name":"Inject at Start","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":98,"y":803.5,"wires":[["b6d781cd.09a2d"]]},{"id":"fa8cc2ba.e3221","type":"function","z":"6747017a.381de","name":"Parse & Store Host Name","func":"global.set(\"hostname\", msg.payload.hostname);\n\nmsg.payload = { \"hostname\": msg.payload.hostname }\nreturn msg;","outputs":1,"noerr":0,"x":502,"y":805.5,"wires":[[]]},{"id":"280389da.38fc46","type":"timestamp","z":"6747017a.381de","name":"","x":407.5,"y":188.5,"wires":[["aad5dcee.b90f"]]},{"id":"aad5dcee.b90f","type":"function","z":"6747017a.381de","name":"Create Final JSON","func":"msg.payload = { \"hostName\": global.get(\"hostname\"),\n    \"createdAt\": msg.timestamp,\n    \"sarReport\": \"I/O Transfer Rate\",\n    \"sardata\": msg.payload }\n\nreturn msg;","outputs":1,"noerr":0,"x":558,"y":256.5,"wires":[["a0adbcba.7b6aa"]]},{"id":"b441b65a.f13d48","type":"debug","z":"6747017a.381de","name":"","active":false,"console":"false","complete":"payload","x":816,"y":255.5,"wires":[]},{"id":"ff9ad211.4adf5","type":"daemon","z":"6747017a.381de","command":"/home/pi/src/tsdemo/tsloader/sar_daemon.sh","args":"-f cpu -s 2","cr":false,"redo":false,"op":"string","name":"CPU Daemon","x":105,"y":51,"wires":[["f12736ba.0a6e68"],[],[]]},{"id":"f12736ba.0a6e68","type":"csv","z":"6747017a.381de","name":"CSV to JSON","sep":" ","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"%user , %nice , %system , %iowait , %steal , %idle","x":248,"y":115,"wires":[["9026093e.77ff58"]]},{"id":"9026093e.77ff58","type":"timestamp","z":"6747017a.381de","name":"","x":401,"y":64,"wires":[["73288c57.9e1934"]]},{"id":"73288c57.9e1934","type":"function","z":"6747017a.381de","name":"Create Final JSON","func":"\nmsg.payload = { \"hostName\": global.get(\"hostname\"),\n    \"createdAt\": msg.timestamp,\n    \"sarReport\": \"Average CPU Usage\",\n    \"sardata\": msg.payload }\n\nreturn msg;\n","outputs":1,"noerr":0,"x":555,"y":125,"wires":[["682b9bec.c6b334"]]},{"id":"a0adbcba.7b6aa","type":"http request","z":"6747017a.381de","name":"","method":"POST","ret":"txt","url":"https://thingspace.io/dweet/for/tsloader","tls":"","x":619,"y":183.5,"wires":[["4811bcf.8070544","b441b65a.f13d48"]]},{"id":"4811bcf.8070544","type":"debug","z":"6747017a.381de","name":"","active":true,"console":"false","complete":"statusCode","x":811,"y":170.5,"wires":[]},{"id":"682b9bec.c6b334","type":"http request","z":"6747017a.381de","name":"","method":"POST","ret":"txt","url":"https://thingspace.io/dweet/for/tsloader","tls":"","x":631,"y":68,"wires":[["b62efb9f.f49f28","b59d3b04.b3d7a8"]]},{"id":"b62efb9f.f49f28","type":"debug","z":"6747017a.381de","name":"","active":true,"console":"false","complete":"statusCode","x":824,"y":68,"wires":[]},{"id":"b59d3b04.b3d7a8","type":"debug","z":"6747017a.381de","name":"","active":false,"console":"false","complete":"payload","x":811,"y":128,"wires":[]},{"id":"eb7db414.23f008","type":"timestamp","z":"6747017a.381de","name":"","x":393,"y":311.5,"wires":[["489d822b.d1335c"]]},{"id":"6f2f6b87.392264","type":"csv","z":"6747017a.381de","name":"CSV to JSON","sep":" ","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"kbmemfree , kbmemused , %memused , kbbuffers , kbcached , kbcommit , %commit , kbactive , kbinact , kbdirty","x":240,"y":362.5,"wires":[["eb7db414.23f008"]]},{"id":"489d822b.d1335c","type":"function","z":"6747017a.381de","name":"Create Final JSON","func":"\nmsg.payload = { \"hostName\": global.get(\"hostname\"),\n    \"createdAt\": msg.timestamp,\n    \"sarReport\": \"Free and Used Memory\",\n    \"sardata\": msg.payload }\n\nreturn msg;\n","outputs":1,"noerr":0,"x":547,"y":372.5,"wires":[["9f0648f3.7e82f8"]]},{"id":"1f56a892.efca67","type":"daemon","z":"6747017a.381de","command":"/home/pi/src/tsdemo/tsloader/sar_daemon.sh","args":"-f mem -s 3","cr":false,"redo":false,"op":"string","name":"MEM Daemon","x":97,"y":298.5,"wires":[["6f2f6b87.392264"],[],[]]},{"id":"9f0648f3.7e82f8","type":"http request","z":"6747017a.381de","name":"","method":"POST","ret":"txt","url":"https://thingspace.io/dweet/for/tsloader","tls":"","x":623,"y":315.5,"wires":[["cb77c1e5.92d43","d927173c.9eda88"]]},{"id":"cb77c1e5.92d43","type":"debug","z":"6747017a.381de","name":"","active":true,"console":"false","complete":"statusCode","x":816,"y":315.5,"wires":[]},{"id":"d927173c.9eda88","type":"debug","z":"6747017a.381de","name":"","active":false,"console":"false","complete":"payload","x":803,"y":375.5,"wires":[]},{"id":"22ee5838.aa6588","type":"csv","z":"6747017a.381de","name":"CSV to JSON","sep":" ","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"proc/s , cswch/s","x":230,"y":473.5,"wires":[["52097bf7.271e14"]]},{"id":"52097bf7.271e14","type":"timestamp","z":"6747017a.381de","name":"","x":383,"y":422.5,"wires":[["72a408dc.ff60f8"]]},{"id":"154d9b3f.b5a7c5","type":"daemon","z":"6747017a.381de","command":"/home/pi/src/tsdemo/tsloader/sar_daemon.sh","args":"-f cs -s 3","cr":false,"redo":false,"op":"string","name":"CS Daemon","x":77,"y":409.5,"wires":[["22ee5838.aa6588"],[],[]]},{"id":"72a408dc.ff60f8","type":"function","z":"6747017a.381de","name":"Create Final JSON","func":"\nmsg.payload = { \"hostName\": global.get(\"hostname\"),\n    \"createdAt\": msg.timestamp,\n    \"sarReport\": \"Processes Created and Context Switches\",\n    \"sardata\": msg.payload }\n\nreturn msg;\n","outputs":1,"noerr":0,"x":537,"y":483.5,"wires":[["733fe61e.9c8798"]]},{"id":"733fe61e.9c8798","type":"http request","z":"6747017a.381de","name":"","method":"POST","ret":"txt","url":"https://thingspace.io/dweet/for/tsloader","tls":"","x":613,"y":426.5,"wires":[["271ee43a.4c811c","4830e4d4.1afe7c"]]},{"id":"271ee43a.4c811c","type":"debug","z":"6747017a.381de","name":"","active":true,"console":"false","complete":"statusCode","x":806,"y":426.5,"wires":[]},{"id":"4830e4d4.1afe7c","type":"debug","z":"6747017a.381de","name":"","active":false,"console":"false","complete":"payload","x":793,"y":486.5,"wires":[]},{"id":"3436d3e1.47414c","type":"csv","z":"6747017a.381de","name":"CSV to JSON","sep":" ","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"active/s , passive/s , iseg/s , oseg/s","x":228,"y":597.5,"wires":[["9119f944.bf9c58"]]},{"id":"9119f944.bf9c58","type":"timestamp","z":"6747017a.381de","name":"","x":381,"y":546.5,"wires":[["5b40e028.f074a"]]},{"id":"25256b8.d2f8194","type":"daemon","z":"6747017a.381de","command":"/home/pi/src/tsdemo/tsloader/sar_daemon.sh","args":"-f tcp -s 3","cr":false,"redo":false,"op":"string","name":"TCP Daemon","x":85,"y":533.5,"wires":[["3436d3e1.47414c"],[],[]]},{"id":"5b40e028.f074a","type":"function","z":"6747017a.381de","name":"Create Final JSON","func":"\nmsg.payload = { \"hostName\": global.get(\"hostname\"),\n    \"createdAt\": msg.timestamp,\n    \"sarReport\": \"TCPv4 Network Traffic\",\n    \"sardata\": msg.payload }\n\nreturn msg;\n","outputs":1,"noerr":0,"x":535,"y":607.5,"wires":[["19e84c7a.9f55f4"]]},{"id":"19e84c7a.9f55f4","type":"http request","z":"6747017a.381de","name":"","method":"POST","ret":"txt","url":"https://thingspace.io/dweet/for/tsloader","tls":"","x":609,"y":548.5,"wires":[["ddf0023a.87cf5","b55db417.2e5498"]]},{"id":"ddf0023a.87cf5","type":"debug","z":"6747017a.381de","name":"","active":true,"console":"false","complete":"statusCode","x":802,"y":548.5,"wires":[]},{"id":"b55db417.2e5498","type":"debug","z":"6747017a.381de","name":"","active":false,"console":"false","complete":"payload","x":789,"y":608.5,"wires":[]}]
