tsloader/tsloader_flow
[{"id":"d193824e.6da56","type":"csv","z":"fe713e97.efb6c","name":"CSV to JSON","sep":" ","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"tps , rtps , wtps , bread/s , bwrtn/s","x":269,"y":213,"wires":[["6d0a55e.d4250ac"]]},{"id":"b802d39.907953","type":"daemon","z":"fe713e97.efb6c","command":"/home/jeff/src/thingspace-demo/sar_daemon.sh","args":"-f io -s 2","cr":false,"redo":false,"op":"string","name":"I/O Daemon","x":107.5,"y":157.5,"wires":[["d193824e.6da56"],[],[]]},{"id":"8a70c441.5a3f98","type":"OS","z":"fe713e97.efb6c","name":"OS Data","x":287.5,"y":782,"wires":[["1446892f.7a3737"]]},{"id":"22ea3110.b94e8e","type":"inject","z":"fe713e97.efb6c","name":"Inject at Start","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":110,"y":780,"wires":[["8a70c441.5a3f98"]]},{"id":"1446892f.7a3737","type":"function","z":"fe713e97.efb6c","name":"Parse & Store Host Name","func":"global.set(\"hostname\", msg.payload.hostname);\n\nmsg.payload = { \"hostname\": msg.payload.hostname }\nreturn msg;","outputs":1,"noerr":0,"x":514,"y":782,"wires":[[]]},{"id":"6d0a55e.d4250ac","type":"timestamp","z":"fe713e97.efb6c","name":"","x":419.5,"y":165,"wires":[["6df9f0ac.9fb2f"]]},{"id":"6df9f0ac.9fb2f","type":"function","z":"fe713e97.efb6c","name":"Create Final JSON","func":"msg.payload = { \"hostName\": global.get(\"hostname\"),\n    \"createdAt\": msg.timestamp,\n    \"sarReport\": \"I/O Transfer Rate\",\n    \"sardata\": msg.payload }\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":233,"wires":[["6a83273c.076ba8"]]},{"id":"8ebc8c77.ec26","type":"debug","z":"fe713e97.efb6c","name":"","active":false,"console":"false","complete":"payload","x":828,"y":232,"wires":[]},{"id":"f88f2075.148ea","type":"daemon","z":"fe713e97.efb6c","command":"/home/jeff/src/thingspace-demo/sar_daemon.sh","args":"-f cpu -s 2","cr":false,"redo":false,"op":"string","name":"CPU Daemon","x":117,"y":27.5,"wires":[["b74efec5.6301e"],[],[]]},{"id":"b74efec5.6301e","type":"csv","z":"fe713e97.efb6c","name":"CSV to JSON","sep":" ","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"%user , %nice , %system , %iowait , %steal , %idle","x":260,"y":91.5,"wires":[["c4f2bc19.297d7"]]},{"id":"c4f2bc19.297d7","type":"timestamp","z":"fe713e97.efb6c","name":"","x":413,"y":40.5,"wires":[["229edada.4581f6"]]},{"id":"229edada.4581f6","type":"function","z":"fe713e97.efb6c","name":"Create Final JSON","func":"\nmsg.payload = { \"hostName\": global.get(\"hostname\"),\n    \"createdAt\": msg.timestamp,\n    \"sarReport\": \"Average CPU Usage\",\n    \"sardata\": msg.payload }\n\nreturn msg;\n","outputs":1,"noerr":0,"x":567,"y":101.5,"wires":[["95c13e66.c27ac"]]},{"id":"6a83273c.076ba8","type":"http request","z":"fe713e97.efb6c","name":"","method":"POST","ret":"txt","url":"https://thingspace.io/dweet/for/node-red-test","tls":"","x":631,"y":160,"wires":[["10366275.7d225e","8ebc8c77.ec26"]]},{"id":"10366275.7d225e","type":"debug","z":"fe713e97.efb6c","name":"","active":false,"console":"false","complete":"statusCode","x":823,"y":147,"wires":[]},{"id":"95c13e66.c27ac","type":"http request","z":"fe713e97.efb6c","name":"","method":"POST","ret":"txt","url":"https://thingspace.io/dweet/for/node-red-test","tls":"","x":643,"y":44.5,"wires":[["1687df28.76d691","fd9be509.7375f8"]]},{"id":"1687df28.76d691","type":"debug","z":"fe713e97.efb6c","name":"","active":true,"console":"false","complete":"statusCode","x":836,"y":44.5,"wires":[]},{"id":"fd9be509.7375f8","type":"debug","z":"fe713e97.efb6c","name":"","active":true,"console":"false","complete":"payload","x":823,"y":104.5,"wires":[]},{"id":"8e5fb90c.955148","type":"timestamp","z":"fe713e97.efb6c","name":"","x":405,"y":288,"wires":[["8fe0255f.f3a3c8"]]},{"id":"eebf99a2.3c5bc8","type":"csv","z":"fe713e97.efb6c","name":"CSV to JSON","sep":" ","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"kbmemfree , kbmemused , %memused , kbbuffers , kbcached , kbcommit , %commit , kbactive , kbinact , kbdirty","x":252,"y":339,"wires":[["8e5fb90c.955148"]]},{"id":"8fe0255f.f3a3c8","type":"function","z":"fe713e97.efb6c","name":"Create Final JSON","func":"\nmsg.payload = { \"hostName\": global.get(\"hostname\"),\n    \"createdAt\": msg.timestamp,\n    \"sarReport\": \"Free and Used Memory\",\n    \"sardata\": msg.payload }\n\nreturn msg;\n","outputs":1,"noerr":0,"x":559,"y":349,"wires":[["19474b20.259a35"]]},{"id":"36e08f2f.7550f","type":"daemon","z":"fe713e97.efb6c","command":"/home/jeff/src/thingspace-demo/sar_daemon.sh","args":"-f mem -s 3","cr":false,"redo":false,"op":"string","name":"MEM Daemon","x":109,"y":275,"wires":[["eebf99a2.3c5bc8"],[],[]]},{"id":"19474b20.259a35","type":"http request","z":"fe713e97.efb6c","name":"","method":"POST","ret":"txt","url":"https://thingspace.io/dweet/for/node-red-test","tls":"","x":635,"y":292,"wires":[["7b57be77.62955","1203689e.87cc87"]]},{"id":"7b57be77.62955","type":"debug","z":"fe713e97.efb6c","name":"","active":false,"console":"false","complete":"statusCode","x":828,"y":292,"wires":[]},{"id":"1203689e.87cc87","type":"debug","z":"fe713e97.efb6c","name":"","active":false,"console":"false","complete":"payload","x":815,"y":352,"wires":[]},{"id":"72b545b7.220e2c","type":"csv","z":"fe713e97.efb6c","name":"CSV to JSON","sep":" ","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"proc/s , cswch/s","x":242,"y":450,"wires":[["b09a171b.e3fc28"]]},{"id":"b09a171b.e3fc28","type":"timestamp","z":"fe713e97.efb6c","name":"","x":395,"y":399,"wires":[["1e07c28d.44553d"]]},{"id":"8bf45521.f1da88","type":"daemon","z":"fe713e97.efb6c","command":"/home/jeff/src/thingspace-demo/sar_daemon.sh","args":"-f cs -s 3","cr":false,"redo":false,"op":"string","name":"CS Daemon","x":89,"y":386,"wires":[["72b545b7.220e2c"],[],[]]},{"id":"1e07c28d.44553d","type":"function","z":"fe713e97.efb6c","name":"Create Final JSON","func":"\nmsg.payload = { \"hostName\": global.get(\"hostname\"),\n    \"createdAt\": msg.timestamp,\n    \"sarReport\": \"Processes Created and Context Switches\",\n    \"sardata\": msg.payload }\n\nreturn msg;\n","outputs":1,"noerr":0,"x":549,"y":460,"wires":[["dfc81ae7.635088"]]},{"id":"dfc81ae7.635088","type":"http request","z":"fe713e97.efb6c","name":"","method":"POST","ret":"txt","url":"https://thingspace.io/dweet/for/node-red-test","tls":"","x":625,"y":403,"wires":[["e33e4e9.44e4ab","bf21cf2e.a27b8"]]},{"id":"e33e4e9.44e4ab","type":"debug","z":"fe713e97.efb6c","name":"","active":false,"console":"false","complete":"statusCode","x":818,"y":403,"wires":[]},{"id":"bf21cf2e.a27b8","type":"debug","z":"fe713e97.efb6c","name":"","active":false,"console":"false","complete":"payload","x":805,"y":463,"wires":[]},{"id":"c7e37ae6.e42e18","type":"csv","z":"fe713e97.efb6c","name":"CSV to JSON","sep":" ","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"active/s , passive/s , iseg/s , oseg/s","x":240,"y":574,"wires":[["8d0fc09.c35d94"]]},{"id":"8d0fc09.c35d94","type":"timestamp","z":"fe713e97.efb6c","name":"","x":393,"y":523,"wires":[["31baad41.07db02"]]},{"id":"19b01c3d.092d54","type":"daemon","z":"fe713e97.efb6c","command":"/home/jeff/src/thingspace-demo/sar_daemon.sh","args":"-f tcp -s 3","cr":false,"redo":false,"op":"string","name":"TCP Daemon","x":97,"y":510,"wires":[["c7e37ae6.e42e18"],[],[]]},{"id":"31baad41.07db02","type":"function","z":"fe713e97.efb6c","name":"Create Final JSON","func":"\nmsg.payload = { \"hostName\": global.get(\"hostname\"),\n    \"createdAt\": msg.timestamp,\n    \"sarReport\": \"TCPv4 Network Traffic\",\n    \"sardata\": msg.payload }\n\nreturn msg;\n","outputs":1,"noerr":0,"x":547,"y":584,"wires":[["478cb26.8986d4c"]]},{"id":"478cb26.8986d4c","type":"http request","z":"fe713e97.efb6c","name":"","method":"POST","ret":"txt","url":"https://thingspace.io/dweet/for/node-red-test","tls":"","x":621,"y":525,"wires":[["49b4deef.b7b64","967b789.9b08388"]]},{"id":"49b4deef.b7b64","type":"debug","z":"fe713e97.efb6c","name":"","active":false,"console":"false","complete":"statusCode","x":814,"y":525,"wires":[]},{"id":"967b789.9b08388","type":"debug","z":"fe713e97.efb6c","name":"","active":false,"console":"false","complete":"payload","x":801,"y":585,"wires":[]}]
